.top-navigation
    .container
        a.top-navigation__link( href="#" title="..." ) Boilerplate!
        a.top-navigation__logo( href="/" title="Terug naar de homepage" )
            img(src="assets/images/logo.svg")