.user-interface
    form.user-interface__buildingselect
        input(name='buildingselect' type='radio' value='brickhouse' checked='checked' id='buildingselect_brickhouse') 
        label(for='buildingselect_brickhouse') Appartement
        input(name='buildingselect' type='radio' value='fountain' id='buildingselect_fountain') 
        label(for='buildingselect_fountain') Fontein