extends layout/page

append variables
    - var title = "City 0.0.2";

append main
    .skybox
        .cloud
        .viewport
            .city
                ._1-1
                    .plot-1
                        .highscraper
                            .wall-one
                                div
                            .wall-two
                                div
                            .roof
                                div
                                    div
                                    div
                                div
                                    div
                                    div
                                div
                            .highscraper__shadow
                            .highscraper__shadow-2
                    .plot-2
                        .emptyplot
                    .plot-3
                        include buildings/highscraper
                    .plot-4
                        +brickflat
                    .cars
                        .car.__one.__red
                        .car.__two.__blue
                        .car.__three.__cab
                        .car.__four.__grey
                    .road
                    .ground
                ._1-2
                    .plot-1
                        include buildings/highscraper
                    .plot-2
                        +brickflat
                    .plot-3
                        +appartment
                    .plot-4
                        +fountain
                    .shadows
                        .shadow-plot-1
                        .shadow-plot-2
                            +brickflat-shadow
                        .shadow-plot-3
                            +appartment-shadow 
                        .shadow-plot-4
                    .cars
                        .car.__one.__red
                        .car.__two.__blue
                        .car.__three.__green
                        .car.__four.__police
                    .road
                    .ground
                ._2-1
                    .plot-1
                        .emptyplot
                    .plot-2
                        .emptyplot
                    .plot-3
                        .emptyplot
                    .plot-4
                        .emptyplot
                    .shadows
                        .shadow-plot-1
                            .box__shadow 
                        .shadow-plot-2
                            .box__shadow 
                        .shadow-plot-3
                            .box__shadow 
                        .shadow-plot-4
                            .box__shadow 
                    .cars
                        .car.__one.__darkpink
                        .car.__two.__blue
                        .car.__three.__cab
                        .car.__four.__grey
                    .road
                    .ground
                ._2-2
                    .plot-1
                        .emptyplot
                    .plot-2
                        .emptyplot
                    .plot-3
                        .emptyplot
                    .plot-4
                        .emptyplot
                    .shadows
                        .shadow-plot-1
                        .shadow-plot-2
                        .shadow-plot-3
                        .shadow-plot-4
                    .cars
                        .car.__one.__darkpink
                        .car.__two.__blue
                        .car.__three.__green
                        .car.__four.__police
                    .road.___roundaboutDISABLED
                    .ground