extends layout/page

append variables
    - var title = "City 0.0.3";

append main
    .skybox
        .cloud
        .viewport
            .city
                .ground._1-1
                .road._1-1
                .cars._1-1
                    .car.__one.__red
                    .car.__two.__blue
                    .car.__three.__cab
                    .car.__four.__grey
                .shadows._1-1
                    .shadow-plot-1
                        +brickflat-shadow
                    .shadow-plot-2
                        +brickflat-shadow
                    .shadow-plot-3
                        +brickflat-shadow
                    .shadow-plot-4
                        +brickflat-shadow
                .plots._1-1
                    .plot.plot-1
                        +brickflat
                    .plot.plot-2
                        +brickflat
                    .plot.plot-3
                        +brickflat
                    .plot.plot-4
                        +brickflat
                
                    
                    
                    
                    