extends layout/page

append variables
    - var title = "City 0.0.2";

append main
    .skybox
        .cloud
        .viewport
            .city
                ._1-1
                    .ground
                    .road
                    .cars
                        .car.__one.__red
                        .car.__two.__blue
                        .car.__three.__cab
                        .car.__four.__grey
                    .shadows
                        .shadow-plot-1
                        .shadow-plot-2
                        .shadow-plot-3
                        .shadow-plot-4
                    .plot-1
                        .emptyplot
                    .plot-2
                        .emptyplot
                    .plot-3
                        .emptyplot
                    .plot-4
                        .emptyplot
                ._1-2
                    .ground
                    .road
                    .cars
                        .car.__one.__red
                        .car.__two.__blue
                        .car.__three.__green
                        .car.__four.__police
                    .shadows
                        .shadow-plot-1
                        .shadow-plot-2
                        .shadow-plot-3
                        .shadow-plot-4
                    .plot-1
                        .emptyplot
                    .plot-2
                        +brickflat
                    .plot-3
                        .emptyplot
                    .plot-4
                        +fountain
                ._2-1
                    .ground
                    .road
                    .cars
                        .car.__one.__darkpink
                        .car.__two.__blue
                        .car.__three.__cab
                        .car.__four.__grey
                    .shadows
                        .shadow-plot-1
                        .shadow-plot-2
                        .shadow-plot-3
                        .shadow-plot-4
                    .plot-1
                        .emptyplot
                    .plot-2
                        .emptyplot
                    .plot-3
                        .emptyplot
                    .plot-4
                        .emptyplot
                ._2-2
                    .ground
                    .road.___roundaboutDISABLED
                    .cars
                        .car.__one.__darkpink
                        .car.__two.__blue
                        .car.__three.__green
                        .car.__four.__police
                    .shadows
                        .shadow-plot-1
                        .shadow-plot-2
                        .shadow-plot-3
                        .shadow-plot-4
                    .plot-1
                        .emptyplot
                    .plot-2
                        .emptyplot
                    .plot-3
                        .emptyplot
                    .plot-4
                        .emptyplot
                    
                    
                    
                    