mixin brickflat
    .brickflat
        //-.grass
        .driveway
        .wall
            .windows
        .wall
            .windows
        .roof
            .vent
            .vent
        

mixin brickflat-shadow
    .brickflat__shadow