.highscraper
    .wall-one
        div
    .wall-two
        div
    .roof
        div
            div
            div
        div
            div
            div
        div
    .highscraper__shadow
    .highscraper__shadow-2