mixin fountain
    .fountain
        .grass
        .water
            .water__effect
                .water__splash
                .water__splash
                .water__splash
                .water__splash
                .water__splash
        