.fountain
    .grass
    .water
        .water__effect
            .water__splash
            .water__splash
            .water__splash
            .water__splash
            .water__splash
//- Use the following to disable the water:  .water.___disabled