//
// Variables
// --------------------------------------------------

// Breakpoints
@screen-xs:                   320px;
@screen-sm:                   680px;
@screen-md:                   768px;
@screen-lg:                   1024px;
@screen-xl:                   1681px;

// Max widths
@screen-sm-max:               (@screen-md - 1);
@screen-md-max:               (@screen-lg - 1);
@screen-lg-max:               (@screen-xl - 1);

// Grid
@grid-columns:                12;
@grid-gutter-width:           2rem;



